{% extends basic_template %}

{% block product_price %}
<div class="d-flex align-items-center justify-content-between">

    <!-- Product Single - Price
    ============================================= -->
    <div class="product-price">
        <del>{{ product.price }}</del>
        <ins>{{ product.fin_price }}</ins>
    </div><!-- Product Single - Price End -->

    <!-- Product Single - Rating
    ============================================= -->
    <div class="product-rating">
        <i class="icon-star3"></i>
        <i class="icon-star3"></i>
        <i class="icon-star3"></i>
        <i class="icon-star-half-full"></i>
        <i class="icon-star-empty"></i>
    </div><!-- Product Single - Rating End -->

</div>

{% endblock %}


{% block additiona_specs_form %}
<div id="app">
    <p style="color: green">[[success_msg]]</p>
    <p style="color: red">[[err_msg]]</p>
<form class="row mb-0" @submit.prevent="submitThis">
<p>[[ naming ]]</p>
    <div class="col-md-6 form-group">
        <label for="ram">Ram</label>
        <select name="ram" v-model="ram"
                class="sm-form-control">
            <option value="{{ product.ram }}">{{ product.get_ram_display }}
            </option>
            <option value="0">without ram</option>
            <option value="350">4 GB</option>
            <option value="450">6 GB</option>
            <option value="750">8 GB</option>
            <option value="1100">12 GB</option>
            <option value="1500">16 GB</option>
            <option value="3000">32 GB</option>
            </option>
        </select>
    </div>

    <div class="col-md-6 form-group">
        <label for="drive">Disk Drive</label>
        <select   name="drive"                class="sm-form-control"
        v-model="drive">

            <option value="{{ product.drive }}">{{ product.get_drive_display }}
            </option>
            <option value="0">without drive</option>
            <option value="100">160 hdd</option>
            <option value="200">250 hdd</option>
            <option value="250">320 hdd</option>
            <option value="300">500 hdd</option>
            <option value="400">1 tb hdd</option>
            <option value="1000">2 tb hdd</option>
            <option value="225">64 ssd</option>
            <option value="600">128 ssd</option>
            <option value="800">256 ssd</option>
            <option value="1400">512 ssd</option>
            <option value="2000">1 tb ssd</option>
            <option value="1200">128 ssd + 1 tb hdd</option>
            <option value="1500">256 ssd + 1 tb hdd</option>
            </option>
        </select>
    </div>

    <div class="w-100"></div>

    {% if form.errors %}
    <div class="alert alert-danger">There are some errors.
        Please check all fields and try again
    </div>
    {% endif %}

    {% if mess %}
    <div class="alert alert-success">{{ mess }}</div>
    {% endif %}


    <button type="submit" value="Update" class="button button-3d m-0">Calculate
        Price
    </button>
</form>


</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let newApp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data() {
            return {
                naming: 'ghhhhhhhhhhhhhhhhhhh',
                ram: null,
                drive: null,
                success_msg: "",
                err_msg: "",

            };
        },
        methods: {
            submitThis: function () {
                console.log(this.ram, this.drive)
                this.success_msg = "";
                this.naming = "";
                this.err_msg = "";
                axios({
                method : "POST",
                url:"{% url 'submit_form_laptop' %}",
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}', 'Content-Type': 'application/json'},
                data : {"ram": this.ram, "drive":this.drive},
              }).then(response => {
                  this.success_msg = response.data['msg'];
              }).catch(err => {
                     this.err_msg = err.response.data['err'];
              });


            }
        },

    });


</script>

{% endblock %}

{% block notebok_additinal_content %}

    <div class="tab-content clearfix" id="tabs-1">
        <!--                                            {{ product.description|safe }}-->
        <h3 style="text-align: center;">Configuration</h3>
        <ul class="Config-list">
            <li><span><strong>Model:</strong> <a>{{ product.model }}</a></span>
            </li>
            <li><span><strong>Cpu:</strong> <a>{{ product.processor }}</a></span>
            </li>
            <li><span><strong>Screen: </strong><a> {{ product.diagonal }} {{ product.display_resolution }}</a></span>
            </li>
            <li><span
            ><strong>Ram: </strong><a> {{ product.get_ram_display }}</a></span>
            </li>
            <li><span><strong>Hard drive: </strong><a>{{ product.get_drive_display }}</a></span>
            </li>
            <li><span><strong>Graphics:</strong><a>{{ product.graphics }}</a></span>
            </li>
            <li><span><strong>Ос:</strong><a>Mac Os 10.15 Catalina</a></span>
            </li>
            <li><span><strong>Network:</strong><a> Wi-Fi 802.11a/g/n/ac 2,4 ГГц / 5 ГГц; Bluetooth 4.2</a></span>
            </li>
            <li><span><strong>Ports:</strong><a> USB Type-C; наушники</a></span>
            </li>
            <li><span><strong>Web-camera:</strong><a> &mdash; FaceTime HD 720p;</a></span>
            </li>
            <li><span><strong>Size:</strong><a> 281&times;197&times;13 мм</a></span>
            </li>
            <li><span
            ><strong>Weight:</strong><a> 2.92 Кг.</a></span>
            </li>
            <li><span><strong>Final price: </strong><a> {{ product.fin_price }}</a></span>
            </li>
        </ul>

    </div>



{% endblock %}


