
.custom-blc {
    flex: 0 0 50%;
    background-color: #e67e22;

    /*position: relative;*/
    display: flex;
    margin: 15px;
    text-align: center;
    height: 200px;
    width: 200px;
    border: solid 1px #dcdcdc;
    /*overflow: hidden;*/


}

.custom-blc:hover {
    margin-top: -10px;
    transition: margin-top 0.5s;
}


.custom-blc:hover div {
    background-color: #366ec1;
    color: #efefef;
}

.custom-blc img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    padding: 15px;
}


.custom-blc div {
    transform: scale(1.2);
    position: absolute;
    top: 60%;
    width: 90%;
    background-color: rgba(246, 246, 246, 0.84);
    color: rgb(33, 33, 33);
    padding: 15px 0;
}



.choose_lpt {
    padding: 2.5rem;
}

.choose_lpt h5 {
  color: #323232;
  font-weight: bold;
    margin: 1.6rem 2.5rem;
}

.choose_lpt p {
    text-indent: 1rem;
}


