{% extends 'base.html' %}
{% load static %}
{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block header %} {% include 'header_static.html' %} {% endblock %}
{% block body %}

<body class="stretched">

<div>
    <div class="choose_lpt">

<h2 style="text-align: center"><strong>Choosing a laptop</strong></h2>

    <h5> 1. Screen size</h5>

<p>If a laptop rarely leaves the space of your home or office, is used instead
    of a desktop PC, then you should take a model with a larger diagonal of
    15.6 - 17.3 &quot;. These models are usually more expensive than their
    counterparts. Most gaming or professional models with sophisticated cooling
    have a 15-17 &Prime; diagonal.</p>

<p>10-12 &ldquo; models are usually small and lightweight, with a touch screen,
    and are suitable for those who always take their device with them, travel
    often.</p>

<p>Models 13-14 &quot; are the mid-range optimum. </p>

    <h5>2. Processor</h5>

<p>The speed of the laptop and its capabilities depend on the processor. but
    also the operating temperature and battery discharge rate.</p>

<p>There is a convenient service - www.cpubenchmark.net - here you can quickly
    compare the speed of different processors, each has its own rating . Models
    with a rating below 2000 work noticeably slowly, and even opening simple
    programs takes a long time and is annoying. For games, it is worth choosing
    models with a rating above 3500, modern ones above 4500.</p>

<p>Later generation processors (core i3 / i5 / i7) usually have lower power
    consumption and lower operating temperatures. An important parameter is the
    frequency of the processor. The speed of processes directly depends on it.
    The number of cores affects the work less often: mainly in difficult
    processes such as video editing or rendering.</p>

<p>Models with the letter M are not soldered into the board, they can be easily
    changed between different laptops. Models with the letter U are energy
    saving, provide longer battery life and lower temperatures. Beech Q / H
    models are multi-core. suitable for complex processes.</p>

    <h5>3. RAM</h5>

<p>To work with documents or on the Internet, 4 GB of memory is enough for
    video . (The smaller size does not allow windows to work stably. For games,
    editing photos, more complex tasks, a large number of tabs in the browser
    (> 15), it is worth expanding the memory up to 8 GB. For new games or
    modeling, 12-16 GB of memory is optimal.</p>

    <h5>4. Hard drive</h5>

<p>There are 2 types: HDD and SSD. Hdd is cheaper, slower, wears out faster.
    After 2-3 years, it can crumble and destroy files. It is afraid of shocks,
    comes out of standing with strong vibrations of the SSD - it is more
    expensive. Loads the system and programs faster. Doesn't make noise. Not
    afraid of blows. More reliable. Lighter in weight. Please note that newer
    Windows 7/8/10 or Mac OS X systems require at least 120GB disks to store
    system files while leaving space for your data.</p>

    <h5>5. Video card</h5>

<p>For games or 3D modeling, models with a discrete graphics card are needed.
    (each processor usually has a built-in video card, on which the rest of the
    models work). Usually a discrete video card is the most expensive part in a
    laptop, its presence increases the cost by 1.3-1.5 times.</p>

    <h5>6. Laptop format</h5>

<p>In addition to the usual notebook models, there are transofrer laptops with
    a removable or folding keyboard, as well as touchscreen models with a
    rotating screen for those who like to draw with a stylus on the screen.</p>

    <h5>7. Screen resolution</h5>

<p>The higher the resolution, the more accurate, brighter, fuller the picture.
    Identical models can have matrices with different screen resolutions.</p>

    <h5>8. Matrix type</h5>
    <p>(TN / IPS, glossy / matte) Ips matrices are more expensive,
    but provide a brighter, more vibrant image. glossy matrices have a brighter
    and more beautiful picture, vivid colors. But they shine in the sun. Matte
    matrices do not shine, but the color rendition is not so bright, the colors
    are softer.</p>

<h5>9. Budget</h5>

<p>up to UAH 3000 : basic models for those who rarely use a laptop, or cannot
    allocate a larger budget. This includes:</p>

<p>- models released before 2010 on Amd A4 / A6 / A8 processors or Intel Core
    i3 / i5 1-2 generation.</p>

<p>- models based on Celeron / Amd-E core processors, etc.</p>

<p> - discounted models with minor defects (for example, a non-working touchpad
    or broken usb ports.</p>

<p>These notebooks provide stable operation at medium speed and will last for
    several more years thanks to their simple and successful design and
    availability of spare parts on the market.</p>

<p>Their disadvantages are unremarkable appearance, greater weight and size
    compared to new models, faster battery wear.</p>

<p>4000-6000 UAH : this includes most of the office models. For this amount, we
    can choose a model with a good appearance, light weight, fast processor,
    memory, large Hdd or fast SSD drive.</p>

<p>These laptops cope with all everyday tasks, easily pull any office,
    documents, watching videos in good resolution, Internet browsers with a
    large number of tabs, etc. They can perform average tasks like video
    editing, audio processing, photo editing, Photoshop, etc.</p>

<p>7000-12000 UAH: gaming laptops or professional graphics stations, new unused
    models, Macbook Air ultrabooks, hybrid models that do not rival the power
    of large laptops, models with a large high-quality screen with high
    resolution.</p>

<p>UAH 13000-18000 : premium laptops for games: with powerful processors and
    video cards, sophisticated cooling, stylish appearance, a screen with good
    resolution up to 4K, as well as newer Macbook Retina models.</p>


    </div>
    </div>
</body>

{% endblock %}
