{% extends 'base.html' %}
{% load static %}
{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block header %} {% endblock %}

{% block body %}


<body class="stretched device-lg has-plugin-easing has-plugin-bootstrap has-plugin-tabs has-plugin-counter has-plugin-linkscroll has-plugin-form has-plugin-subscribeform">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>My Account</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Pages</a></li>
					<li class="breadcrumb-item active" aria-current="page">Login</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

            <div>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>

			<div class="content-wrap">
				<div class="container clearfix">

					<div class="tabs mx-auto mb-0 clearfix ui-tabs ui-corner-all ui-widget ui-widget-content" id="tab-login-register" style="max-width: 500px;">

						<ul class="tab-nav tab-nav2 center clearfix ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header" role="tablist">
							<li class="inline-block ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tab-login" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a href="#tab-login" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-1">Login</a></li>
							<li class="inline-block ui-tabs-tab ui-corner-top ui-state-default ui-tab" role="tab" tabindex="-1" aria-controls="tab-register" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="#tab-register" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-2">Register</a></li>
						</ul>

						<div class="tab-container">

							<div class="tab-content ui-tabs-panel ui-corner-bottom ui-widget-content" id="tab-login" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
								<div class="card mb-0">
									<div class="card-body" style="padding: 40px;">
										<form action="" class="mb-0"
											  method="POST">
											{% csrf_token %}

											<h3>Login to your Account</h3>

											<div class="row">
												<div class="col-12 form-group">
													<label>Username:</label>
													<input type="text"
														   name="login"
														   class="form-control">
												</div>

												<div class="col-12 form-group">
													<label>Password:</label>
													<input type="password"
														   name="password"
														   class="form-control">
												</div>

												<div class="col-12 form-group">
													<!--                                                    <button type="submit" class="button button-3d m-0" id="submit">Send Message</button>-->
													<input class="button button-2d button-cyan"
														   type="submit"
														   value="Login">
													<a href="#"
													   class="float-right">Forgot
														Password?</a>
												</div>
											</div>

										</form>
									</div>
								</div>
							</div>

							<div class="tab-content ui-tabs-panel ui-corner-bottom ui-widget-content" id="tab-register" aria-labelledby="ui-id-2" role="tabpanel" style="display: none;" aria-hidden="true">
								<div class="card mb-0">
									<div class="card-body" style="padding: 40px;">
										<h3>Register for an Account</h3>

										{% comment %}

										<form id="register-form" name="register-form" class="row mb-0" action="#" method="post">
                                            {% csrf_token %}
											<div class="col-12 form-group">
												<label for="register-form-name">Name:</label>
												<input type="text" id="register-form-name" name="register-form-name" value="" class="form-control">
											</div>

											<div class="col-12 form-group">
												<label for="register-form-email">Email Address:</label>
												<input type="text" id="register-form-email" name="register-form-email" value="" class="form-control">
											</div>

											<div class="col-12 form-group">
												<label for="register-form-username">Choose a Username:</label>
												<input type="text" id="register-form-username" name="register-form-username" value="" class="form-control">
											</div>

											<div class="col-12 form-group">
												<label for="register-form-phone">Phone:</label>
												<input type="text" id="register-form-phone" name="register-form-phone" value="" class="form-control">
											</div>

											<div class="col-12 form-group">
												<label for="register-form-password">Choose Password:</label>
												<input type="password" id="register-form-password" name="register-form-password" value="" class="form-control">
											</div>

											<div class="col-12 form-group">
												<label for="register-form-repassword">Re-enter Password:</label>
												<input type="password" id="register-form-repassword" name="register-form-repassword" value="" class="form-control">
											</div>

											<div class="col-12 form-group">
												<button class="button button-3d button-black m-0" id="register-form-submit" name="register-form-submit" value="register">Register Now</button>
											</div>

										</form>
										{% endcomment %}
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up" style="display: none;"></div>

</body>

{% endblock %}



