{% extends 'base.html' %}
{% load static %}
{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block header %} {% include 'header_static.html' %} {% endblock %}

{% block body %}


<body class="stretched device-lg has-plugin-easing has-plugin-bootstrap has-plugin-tabs has-plugin-counter has-plugin-linkscroll has-plugin-form has-plugin-subscribeform">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <!-- #header end -->

    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>My Account</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sign Up
                </li>
            </ol>
        </div>

    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->

    <section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row">



						<div class="col-md-8">


							<h3>Don't have an Account? Register Now.</h3>

							<p>We would not send you any spam in future</p>

							<form id="register-form" name="SignUpForm" class="row" action="" method="POST">
								{% csrf_token %}

								<div class="col-6 form-group">
									<label>Login:</label>
									<input type="text" id="username" name="username" class="form-control">
								</div>

								<div class="col-6 form-group">
									<label>Email Address:</label>
									<input type="email" id="email" name="email" class="form-control">
								</div>

								<div class="w-100"></div>

								<div class="col-6 form-group">
									<label>Password:</label>
									<input type="password" id="password1" name="password1" class="form-control">
								</div>

								<div class="col-6 form-group">
									<label>Re-enter Password:</label>
									<input type="password" id="password2" name="password2" class="form-control">
								</div>

								<div class="w-100"></div>

								<div class="col-6 form-group">
									<label>City, Delivery service department :</label>
<!--									<textarea class="sm-form-control" id="address"-->
<!--                                      name="address" rows="6" cols="18"></textarea>-->
									<input type="text" id="address" name="address" class="form-control">
								</div>

								<div class="col-6 form-group">
									<label>Phone:</label>
									<input type="text" id="phone" name="phone" class="form-control">
								</div>

<!--								<div class="w-100"></div>-->

								<div class="col-6 form-group">
									<button type="submit" class="btn btn-dark m-0" id="submit">Register Now</button>
								</div>

							</form>

						</div>

					</div>

				</div>
			</div>
		</section>


<!-- Footer
============================================= -->
<!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up" style="display: none;"></div>

</body>

{% endblock %}



