{% load static %}

<section id="slider" class="slider-element swiper_wrapper min-vh-100" data-loop="true" data-speed="1000"
         data-autoplay="5000">
    <div class="slider-inner">

        <div class="swiper-container swiper-parent swiper-container-initialized swiper-container-horizontal"
             style="cursor: grab;">
            <div class="swiper-wrapper" id="swiper-wrapper-4dccbaff7ddc6a18" aria-live="off"
                 style="transition: all 0ms ease 0s; transform: translate3d(-2172px, 0px, 0px);">

                {% comment %}
<!--                Slider with my products, don't used in this project-->
                {% for rs in products_slider %}

                <img src="{{ rs.image.url }}" alt="" style="height: 300px">
                {{ rs.title }}
                {{ rs.price }}
                <a href="/produc/{{ rs.id }}/{{ rs.slug }}">Show now ...</a>

                {% endfor %}

                {% endcomment %}


                <div class="swiper-slide dark swiper-slide-duplicate swiper-slide-duplicate-active"
                     data-swiper-slide-index="2" role="group" aria-label="1 / 5" style="width: 724px;">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp" class="not-animated">Latest Sweatshirts</h2>
                            <p class="mb-4 not-animated" data-animate="fadeInUp" data-delay="100">
                                <span style="font-size: 3rem; font-weight: 500;">Collections for Summer Clothes</span></p>
                            <div>
                                <a href="{% static '' %}demo-store-products.html" data-animate="fadeInUp"
                                   data-delay="200"
                                   class="button button-large button-white button-light not-animated">Desktops</a>
                                <a href="{% static '' %}demo-store-products.html" data-animate="fadeInUp"
                                   data-delay="200"
                                   class="button button-large button-white button-light not-animated">Shop</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-bg"
                         style="background-image: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.3)), url('{% static '' %}demos/store/images/slider/8-2.jpg');"></div>
                </div>

                <div class="swiper-slide dark swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group"
                     aria-label="2 / 5" style="width: 724px;">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp" class="not-animated">We work as usual</h2>
                            <p class="mb-4 not-animated" data-animate="fadeInUp" data-delay="100">
                                <span style="color: #f5f5f5; font-size: 1.5rem; font-weight: bold;">
                                    Without days off, holidays and quarantine</span></p>
                            <div>
                                <a href="{% static '' %}demo-store-products.html" data-animate="fadeInUp"
                                   data-delay="200"
                                   class="button button-large button-white button-light not-animated">Shop</a>
                                <a href="{% static '' %}demo-store-products.html" data-animate="fadeInUp"
                                   data-delay="200"
                                   class="button button-large button-white button-light not-animated">Laptops</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-bg"
                         style="background-image: url('{% static '' %}demos/store/images/slider/8-2.jpg');"></div>
                </div>
                <div class="swiper-slide dark swiper-slide-prev" data-swiper-slide-index="1" role="group"
                     aria-label="3 / 5" style="width: 724px;">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp" class="not-animated">Fast processors</h2>
                            <p class="mb-4 not-animated" data-animate="fadeInUp" data-delay="100">
                                <span style="font-size: 1.2rem; font-weight: 400">No slow Celerons or Amd</span></p>
                            <div>
                                <a href="{% static '' %}demo-store-products.html" data-animate="fadeInUp"
                                   data-delay="200"
                                   class="button button-large button-white button-light not-animated">Shop</a>
                                <a href="{% static '' %}demo-store-products.html" data-animate="fadeInUp"
                                   data-delay="200"
                                   class="button button-large button-white button-light not-animated">Imac</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-bg"
                         style="background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.6)), url('{% static '' %}demos/store/images/slider/3-2.jpg');"></div>
                </div>
                <div class="swiper-slide dark swiper-slide-active" data-swiper-slide-index="2" role="group"
                     aria-label="4 / 5" style="width: 724px;">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp"
                                class="fadeInUp animated">Smart
                                combinations</h2>
                            <p class="mb-4 fadeInUp animated"
                               data-animate="fadeInUp" data-delay="100">
                                <span style="font-weight: bold; font-size: 1.3rem">
                                    Only rational solutions, corresponding to the main concept</span>
                            </p>
                            <div>
                                <a href="{% static '' %}demo-store-products.html"
                                   data-animate="fadeInUp"
                                   data-delay="200"
                                   class="button button-large button-white button-light fadeInUp animated">Pc
                                    laptops</a>
                                <a href="{% static '' %}demo-store-products.html"
                                   data-animate="fadeInUp"
                                   data-delay="200"
                                   class="button button-large button-white button-light fadeInUp animated">new
                                    Macbooks</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-bg"
                         style="background-image: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.3)), url('{% static '' %}demos/store/images/slider/8-2.jpg');"></div>
                </div>
                <div class="swiper-slide dark swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0"
                     role="group" aria-label="5 / 5" style="width: 724px;">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp" class="not-animated">
                                <p style="color: #00AF87;">We work as usual</p></h2>
                            <p class="mb-4 not-animated" data-animate="fadeInUp" data-delay="100">A New Collection of
                                Summer 2019.</p>
                            <div>
                                <a href="{% static '' %}demo-store-products.html" data-animate="fadeInUp"
                                   data-delay="200"
                                   class="button button-large button-white button-light not-animated">Shop Men</a>
                                <a href="{% static '' %}demo-store-products.html" data-animate="fadeInUp"
                                   data-delay="200"
                                   class="button button-large button-white button-light not-animated">Shop Women</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-bg"
                         style="background-image: url('{% static '' %}demos/store/images/slider/6-2.jpg');"></div>
                </div>
            </div>
            <div class="slider-arrow-left" tabindex="0" role="button" aria-label="Previous slide"
                 aria-controls="swiper-wrapper-4dccbaff7ddc6a18"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right" tabindex="0" role="button" aria-label="Next slide"
                 aria-controls="swiper-wrapper-4dccbaff7ddc6a18"><i class="icon-angle-right"></i></div>
            <div class="slide-number">
                <div class="slide-number-current">3</div>
                <span>/</span>
                <div class="slide-number-total">3</div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span
                class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>

        <div class="social-icons">
            <a href="#" class="social-icon si-small si-borderless si-rounded si-facebook">
                <i class="icon-facebook text-white-50"></i>
                <i class="icon-facebook"></i>
            </a>
            <a href="#" class="social-icon si-small si-borderless si-rounded si-instagram">
                <i class="icon-instagram text-white-50"></i>
                <i class="icon-instagram"></i>
            </a>
            <a href="#" class="social-icon si-small si-borderless si-rounded si-youtube">
                <i class="icon-youtube text-white-50"></i>
                <i class="icon-youtube"></i>
            </a>
        </div>

    </div>

</section>