{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% block title %} {{ query }} results {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block header %} {% include 'header_static.html' %} {% endblock %}

{% block body %}

<body class="stretched">
<div id="wrapper" class="clearfix">



    <!-- Page Title
		============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Checkout</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Checkout
                </li>
            </ol>
        </div>

    </section><!-- #page-title end -->

    <!-- Content
		============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                <div class="col-md-6">Already have account?<a
                        href="login-register.html"> Click here to login</a>
                </div><br>



                <div class="row col-mb-50 gutter-50">


                    <div class="col-lg-10">
                        <h3>Shipping Address</h3>

                        <form id="" name=""
                              class="row mb-0" action="" method="POST">
                            {% csrf_token %}

                            <div class="col-md-6 form-group">
                                <label>First Name:</label>
                                <input type="text" name="first_name"
                                       value="{{ user.first_name }}"
                                       class="sm-form-control"/>
                            </div>

                            <div class="col-md-6 form-group">
                                <label>Last Name:</label>
                                <input type="text" name="last_name"
                                       value="{{ user.last_name }}"
                                       class="sm-form-control"/>
                            </div>

                            <div class="w-100"></div>

                            <div class="col-md-6 form-group">
                                <label>Email :</label>
                                <input type="email" name="email"
                                       value="{{ profile.email }}"
                                       class="sm-form-control"/>
                            </div>

                            <div class="col-md-6 form-group">
                                <label>Phone :</label>
                                <input type="text" name="phone"
                                       value="{{ profile.phone }}"
                                       class="sm-form-control"/>
                            </div>

                            <div class="col-12 form-group">
                                <label>Address :</label>
                                <textarea class="sm-form-control"
                                          name="address" rows="3"
                                          cols="12"
                                value="{{ profile.address }}"></textarea>
                            </div>

                            <div class="col-12 form-group">
                                <label for="shipping-form-message">Notes
                                    <small>*</small></label>
                                <textarea class="sm-form-control"
                                          id="shipping-form-message"
                                          name="shipping-form-message" rows="5"
                                          cols="12"></textarea>
                            </div>


                            {% comment %}
                        </form>
                                    {% endcomment %}


                    </div>

                    <div class="w-100"></div>

                    <div class="col-lg-6">
                        <h4>Your Order:</h4>

                        <div class="table-responsive">
                            <table class="table cart">
                                <thead>
                                <tr>
                                    <th class="cart-product-thumbnail">&nbsp;
                                    </th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="cart-product-quantity">
                                        Quantity
                                    </th>
                                    <th class="cart-product-subtotal">Total
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for rs in shop_cart %}

                                <tr class="cart_item">

                                    <td class="cart-product-thumbnail">
                                        <a href="/product/{{ rs.product.slug }}"><img width="64" height="64"
                                                         src="{{ rs.product.image.url }}"
                                                         alt="{{ rs.product.title }}"></a>
                                    </td>

                                    <td class="cart-product-name">
                                        <a href="/product/{{ rs.product.slug }}">
                                            {{ rs.product.title }}
                                        </a>
                                    </td>

                                    <td class="cart-product-quantity">
                                        <div class="quantity clearfix">
                                         {{ rs.quantity }}
                                        </div>
                                    </td>

                                    <td class="cart-product-subtotal">
                                        <span class="amount">
                                            {{ rs.total_price }}
                                        </span>
                                    </td>
                                </tr>

                                {% endfor %}

                                </tbody>

                            </table>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h4>Cart Totals</h4>

                        <div class="table-responsive">
                            <table class="table cart">
                                <tbody>
                                <tr class="cart_item">
                                    <td class="border-top-0 cart-product-name">
                                        <strong>Cart Subtotal</strong>
                                    </td>

                                    <td class="border-top-0 cart-product-name">
                                        <span class="amount">
                                            ${{ total }}
                                        </span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <strong>Shipping</strong>
                                    </td>

                                    <td class="cart-product-name">
                                        <span class="amount">Free Delivery</span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <strong>Total</strong>
                                    </td>

                                    <td class="cart-product-name">
                                        <span class="amount color lead">
                                        <strong>{{ total }}</strong>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="accordion clearfix">
                            <div class="accordion-header">
                                <div class="accordion-icon">
                                    <i class="accordion-closed icon-line-minus"></i>
                                    <i class="accordion-open icon-line-check"></i>
                                </div>
                                <div class="accordion-title">
                                    Direct Bank Transfer
                                </div>
                            </div>
                            <div class="accordion-content clearfix">Donec sed
                                odio dui. Nulla vitae elit libero, a pharetra
                                augue. Nullam id dolor id nibh ultricies
                                vehicula ut id elit. Integer posuere erat a
                                ante venenatis dapibus posuere velit aliquet.
                            </div>

                            <div class="accordion-header">
                                <div class="accordion-icon">
                                    <i class="accordion-closed icon-line-minus"></i>
                                    <i class="accordion-open icon-line-check"></i>
                                </div>
                                <div class="accordion-title">
                                    Cheque Payment
                                </div>
                            </div>
                            <div class="accordion-content clearfix">Integer
                                posuere erat a ante venenatis dapibus posuere
                                velit aliquet. Duis mollis, est non commodo
                                luctus. Aenean lacinia bibendum nulla sed
                                consectetur. Cras mattis consectetur purus sit
                                amet fermentum.
                            </div>

                            <div class="accordion-header">
                                <div class="accordion-icon">
                                    <i class="accordion-closed icon-line-minus"></i>
                                    <i class="accordion-open icon-line-check"></i>
                                </div>
                                <div class="accordion-title">
                                    Paypal
                                </div>
                            </div>
                            <div class="accordion-content clearfix">Nullam id
                                dolor id nibh ultricies vehicula ut id elit.
                                Integer posuere erat a ante venenatis dapibus
                                posuere velit aliquet. Duis mollis, est non
                                commodo luctus. Aenean lacinia bibendum nulla
                                sed consectetur.
                            </div>
                        </div>
                        <button type="submit" class="button button-3d float-right">Place
                            Order</button>

                    </form>


<!--                        <a href="#" class="button button-3d float-right">Place-->
<!--                            Order</a>-->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #content end -->


</div>


</body>

{% endblock %}
