{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block header %} {% include 'header_static.html' %} {% endblock %}

{% block body %}

<body class="stretched">
<section id="content">

    <div class="content-wrap bg-light">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <h4 class="mb-0">User Update</h4>
                        </div>
                        <div class="card-body">

                            <div class="form-widget">

                                <div class="form-result"></div>

                                <div class="form-process">
                                    <div class="css3-spinner">
                                        <div class="css3-spinner-double-bounce1"></div>
                                        <div class="css3-spinner-double-bounce2"></div>
                                    </div>
                                </div>

                                <form class="mb-0" id="UserUpdateForm"
                                      method="POST"
                                      action="">
<!--                                      enctype="multipart/form-data"-->

                                    {% csrf_token %}


                                    <div class="row">

                                             {% comment %}
                                               <div class="col-12 bottommargin-sm">
                                            <label>Last Name</label>
                                            <input type="text" id="last_name"
                                                   name="last_name"
                                                   value="{{ user.last_name }}"
                                                   class="form-control"
                                                   placeholder="Change your Surname">
                                        </div>

                                        {% endcomment %}

                                        <div class="col-12 bottommargin-sm">
                                            <label>Old Password</label>
                                            <input type="password"
                                                   id="old_password"
                                                   name="old_password"
                                                   class="form-control">
                                        </div>

                                          <div class="col-12 bottommargin-sm">
                                            <label>New Password</label>
                                            <input type="password"
                                                   id="new_password1"
                                                   name="new_password1"
                                                   class="form-control">
                                        </div>

                                          <div class="col-12 bottommargin-sm">
                                            <label>Repeat New Password</label>
                                            <input type="password"
                                                   id="new_password2"
                                                   name="new_password2"
                                                    class="form-control">
                                        </div>

                                        <button type="submit"
                                                class="button button-3d m-0">
                                            Submit
                                        </button>

                                    </div>

                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


</body>


{% endblock %}

{% block javascript %} {% endblock %}