{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block header %} {% include 'header_static.html' %} {% endblock %}

{% block body %}

<body class="stretched">
<section id="content">

    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Reset Password</h2>
        <hr>
        <p>Forgotten your password? Enter your email address below, and we'll
            email instructions for setting a new one.</p>
        <form method="POST" action="{{request.path}}">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>

            {% if messages %}
            {% for message in messages %}
                <div class="alert-danger">
                    <p>{{ message|safe }}</p>
                </div>
        {% endfor %}
        {% endif %}

    </div>

</section>
</body>


{% endblock %}

{% block javascript %} {% endblock %}